{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Drag and Drop a document</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-181082912-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-181082912-1');
	</script>

	<script src="{% static 'drag&dropfileupload/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'drag&dropfileupload/jquery-ui.js' %}"></script>
	<script src="{% static '/app/css/dropzone.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static "drag&dropfileupload/dropzon.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "drag&dropfileupload/jquery-ui.css" %}" />
    <style>
        #myId p {
            font-size:15px;
        }
        #myId a {
            color: #5bbc2e;
        }
        #myId .label {
            top: 20%;
        }
        #myId img {
            top: 20%;
        }
        #myId .dz-preview {
            top: 20%;
        }
        #progressbar {
            top: 20%;
        }
        @media (max-height: 540px) {
            .label {
                top: 50%;
            }
            img {
                top: 50%;
            }
        }

    </style>
</head>
<!-- Change /upload-target to your upload address -->
<body style="background: #2c2c2c;">
	<div id="progressbar"></div>
	<div class="main" align="center">
		
	    <div id="myId" class="dropzone_new">
			<div class="label">
				Drag and drop a document to annotate it.<br/>

                <input style="border-radius: 3px; padding: 3px; border: 0px;"
                size="30"
                placeholder="&nbsp;or paste a YouTube video URL"
                id="youtube-url"
                onchange="openYouTubeUrl()">

                <div style="color: red; display: none; font-size: 10pt" id="youtube-url-error"></div>

                <p>Works with .pdf, .doc, .docx, .xls, .xlsx, .epub and .csv files.<br/>.doc and .docx are converted to .pdf.<br/>.xls and .xlsx are converted to .csv.</p>
                <p>You can also annotate PDFs inside Google Drive by <a href="javascript:void(0);" onClick="handleAuthClick();">authorizing Hypothes.is within your Google account.</a> <span style="font-weight: bold;">Hypothes.is PDF Annotator</span> will be listed under the "Open with" option for PDF files upon authorization.
                (<a href="https://security.google.com/settings/security/permissions">Uninstall</a>).</p>

				<p>Scanned PDFs will be OCR’d<br/>(please ensure text is horizontal).</p>
				
				<p>
                    The OCR service uses <a href="https://github.com/tesseract-ocr">Tesseract</a>, an open source library.<br/>
				You may have better results using a professional tool (<a href="https://www.youtube.com/watch?v=7Gq3ehpv-h0">tutorial</a>).
                The annotation functionality is enabled by <a href="https://hypothes.is/">Hypothes.is</a>.
                <br>
                The code for this site is <a href="https://github.com/dwhly-proj/droppdf">open source</a>.
                </p>
                <p>
                This is a personal project to explore different ideas and is maintained by Dan Whaley. I’d be delighted to hear any feedback at <a href="https://twitter.com/dwhly">@dwhly</a>.
                </p>
                <p>
                The intention is to keep the site up and running, but no guarantee around the preservation of documents is made. 
                <br>
                As an aside, annotations against PDFs or EPUBs with your Hypothes.is account, are discoverable on that PDF or EPUB regardless of its location (<a href="https://hypothes.is/blog/annotating-pdfs-without-urls/">Background</a>).  As long as you have the original PDF somewhere, you'll always be able to see your annotations on it with Hypothes.is.
                </p>
				
			</div>

			<img src="{% static 'drag&dropfileupload/background.png' %}"></img>
	    </div>
	    
	</div>
	
	<script>

        var CLIENT_ID = '{{ client_id }}'; 
        var API_KEY = '{{ api_key }}'; 

        var SCOPES = [
        {% for scope in scopes %}
        "{{ scope }}",
        {% endfor %}
        ];

	</script>

    <script src="https://apis.google.com/js/client.js"></script>
</body>
</html>
